

.w33{width:33%; text-align:center; 
    font-size: 50px; border-left:1px solid #ffffff; /*線の設定*/
    /*background-color: rgb(0, 0, 0);*/
    background-image: url(./img/back.jpg);
    border:  0.01px solid white;
    background-size:100% 100%;
}
.w100{width:100%; text-align:center; font-size: 50px; 
    }

h1{
    background-color: aliceblue;
}
h4{
background-color: white;

}
h3 {
  
    position: relative;
    padding: 0.6em;
    background: #e0edff;
    display: inline-block;
  }
  
  h3#midasi:after {
    
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
    width: 0;
    height: 0;
  }

  p {
    display: inline-block;
    padding: 1rem 2rem;
    border-top: 4px solid #d8dcdc;
    border-right: 4px solid #666;
    border-bottom: 4px solid #333;
    border-left: 4px solid #868888;
    border-radius: 0;
    background-image: -webkit-linear-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
    background-image: linear-gradient(-45deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
  }

body{
    background-image: url(./img/patipati.jpg);
      
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

#c1, #c2, #c3 {
    background-color: white;
   background-image: url(./img/Lille.jpg);

   background-size:100% 100%;
 
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* 高さを500pxに変更 */
    background-color: rgb(235, 249, 254);
    margin: 150px; /* 左右にautoマージンを設定 */
}

